@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}
main{
    background-color: #222 ;
}
h2, h1{
    text-align: center;
    background-color: #111;
    margin: 0;
}
h3{
    text-align: center;
    background-color: #111;
}
p{
    color: #fff;
    font-size: 1.3em;
    line-height: 1.5em;
}
.linea{
    border: 3px solid #424632;
}
                                            /*HEADER*/
.header-index{
    width: 100%;
    height:95vh;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.7)),url(../img/fondo-header.png);
    background-size: cover;
    display: flex;
    flex-direction:column;
    align-content: center;
    justify-content: center;
    background-position: center;
}
.header{
    width: 100vw;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.8)),url(../img/fondo-header.png);
    background-size: contain;
    display: flex;
    flex-direction:column;
    align-content: center;
    justify-content: center;
    background-position: center;
}
nav{
    display: flex;
    text-align: center;
    align-items:center;
    margin: auto;
    padding: 1.5% 5% 0% 5%;
}
nav ul li{
    list-style: none;
    display: flex;
    display: inline-block;
    padding: 0.5em;
    align-items: center;
}
    nav ul li a, h1, h2, h3{
        color: #fff;
        text-decoration: none;
        font-weight: bold;
    }
    nav ul li a:hover{
        color: #2a4;
        transition: .5s;
    }
footer{
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: #111;
 }
    footer a i{
        padding: 20px;
        margin: 5px;
        color: #999;
    }
    footer a i:hover{
        color: #fff;
        transition: all .6s;
    }
                                                         /*ENDS HEADER*/
                                                         /*EMPIEZA HOME*/
                                                        /*INICIO DE SESION*/
.inicio{
    position: fixed;
    background-color: #555;
    width: 100%;
    text-align: right;
}                 
    .inicio a{
        text-decoration: none;
        color: #fff;
        margin-right: 10px;
        font-weight: bolder;
        transition: all 0.3s;
    }                       
    .inicio a:hover{
        color: #2a8;
    }
                                                         /*INICIO DE SESION*/

main{
    background-color: #222;    
}
.card{
    background-color: #111;
    text-align: center;
    height: auto;
    margin: 10px 10px;
    box-shadow: 0 10px 10px  rgba(0, 0, 0,.2) ;
} 
.card:hover{
    box-shadow: 0 16px 20px rgba(0, 0, 0,.4);
    
}
    .card h3{
        color:#ccc;
    }
    .card img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    article{
        display: flex;
        justify-content: center;
        align-content: center;
    }
.catalogo{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.btn{
    background-color: #333;
    color: #fff;
    font-weight: bolder;
}
    .btn:hover{
        border: 2px solid #fff;
        color: #2a4;
    }
                                                            /*ENDS HOME*/
                                                            /*EMPIEZA ALIMENTOS*/
 .alimentos{
    height: 200vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
 }
.alimento{
    display: flex;
    width: 80%;
    height: 24%;
    margin-top: 20px;
    justify-content: center;
    flex-wrap: wrp;
    border: 1px solid #fff ;
 }
    .alimento .imgAlimento{
        width: 25%;

    }
        .alimento .imgAlimento img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    .alimento .infoAlimento{
        display: flex;
        flex-direction: column;
        width: 75%;
        height: 100%;
        background-color: #111;
    }
        .alimento .infoAlimento table{
            width: 100%;
            height: 100%;
        }
        .alimento .infoAlimento p{
            color: #fff;
            overflow:scroll;
            height: fit-content;
            background-color: #111;
            text-align: center;
        }
        
 

                                                        /*ENDS ALIMENTOS*/
                                                        /*EMPIEZA GALERIA*/
.contenedorGaleria{
  display: grid;
  grid-template-columns: 90vw;
  grid-auto-rows: 150px;
  padding: 20px;
  grid-gap: 10px;
  justify-content: center;
}
    .contenedorGaleria .item{
        display: flex;
        grid-row-start: span 2;
    }
    .contenedorGaleria .item .foto{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
        .contenedorGaleria .item .foto:hover{
            filter: grayscale(100%);
            transition: all .5s;
        }
                                            
    .contenedorGaleria .item:nth-child(4){
        grid-row-start: span 3;
    }
    .contenedorGaleria .item:nth-child(10){
        grid-row-start: span 1;
    }
@media (min-width:700px){
    .contenedorGaleria{
        display: grid;
        grid-template-columns: 90vw;
        grid-auto-rows: 200px;
        padding: 20px;
        grid-gap: 10px;
        justify-content: center;
      }
          .contenedorGaleria .item{
              display: flex;
              grid-row-start: span 2;
          }
          .contenedorGaleria .item .foto{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
                                                
}

 @media (min-width:1024px){                                                      
.contenedorGaleria{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 150px;
  padding: 20px;
  grid-gap: 10px;
}
    .contenedorGaleria .item{
        display: flex;
        grid-row-start: span 1;
    }
    .contenedorGaleria .item .foto{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
                                                        
    .contenedorGaleria .item:nth-child(3){
        grid-row-start: span 2;
    }
    .contenedorGaleria .item:nth-child(4){
        grid-row-start: span 3;
        text-align: bottom;
    }
    .contenedorGaleria .item:nth-child(5){
        grid-column-start: span 2;
        grid-row-start: span 2;
    }
    .contenedorGaleria .item:nth-child(6){
        grid-column-start: span 2;
        grid-row-start: span 2;
    }
    .contenedorGaleria .item:nth-child(8){
        grid-column-start: span 2;
    }
    .contenedorGaleria .item:nth-child(9){
        grid-column-start: span 2;
    }
    
} 
                                                    /*ENDS GALERIA*/
                                                    /*EMPIEZAN PRODUCTOS*/
.producto{
    display: flex;
    flex-flow:wrap;
    justify-content: center;
    width: 100%;
    height: 85vh;
}
    .producto .containerImg{
        display: flex;
        width: 60% ;
        height: min-content;
        margin-top: 10px;
    }
        .producto .containerImg img{
            display: flex;
            width: 100% ;
            border: 3px solid #424632;
        }
    .producto .containerData{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 80%;
    }
    .producto .containerInfo{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: min-content;
    }
        .producto .containerInfo p{
            text-align: center;
            width: 70%;
        }
    .producto .comprar{
        margin-bottom: 10px;
        display: flex;
        flex-wrap: wrap;
    }
        .producto .comprar label{
            color: #fff;
        }
        .producto .comprar input{
            margin-bottom: 7px;
            width: 80%;
            background-color: #111;
            border-radius: 8px;
            color: #fff;
        }
        .producto .comprar .boton{
            display: flex;
            height: min-content;
        }
@media (min-width:900px){
    .producto{
        justify-content:center;
        flex-direction: row;
        flex-wrap: nowrap;
        height: 71vh;
        align-items: center;
    }
    .producto .containerImg{
        width: 600px;
    }
    .producto .containerData{
        width: 50%;
        background: color #222421;;
        justify-content: center;
        height: min-content;
        align-content: center;
        align-items: center;
    }
    .producto .containerData p{
       text-align: center;
    }
        



}
