.alimentos{
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
}
.alimento{
    display: flex;
    background: map-get($map: $colores, $key: main );
    box-shadow: map-get($map: $shadows, $key: sombraMedia);
	text-align: center;
	border-radius: 3px;
	overflow: hidden;
	margin: 5em auto;
	height: 350px;
	width: 700px;
        &:hover{
            box-shadow: map-get($map: $shadows, $key: sombraFuerte);        
            transition: all .3s;
        }
        
}
.container{
    padding: 0;
}
                            /* 	Detalles del producto  */
.infoAlimento {
	position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
	text-align: center;
	overflow: hidden;
	padding: 30px;
	height: 100%;
	float: left;
	width: map-get($map: $anchos, $key: w-50);
        p{
            text-align: center;
            font-size: 1em;
        }
        h2{
            display: inline-block;
            background-color: map-get($map: $colores, $key:main );
            position: relative;
            font-size: 2em;
            margin: 0;
        }
}
.btnAlimento{
    transform: translateY(0px);
	transition: 0.3s linear;
	background: map-get($map: $colores, $key:boton );
	border-radius: 5px;
    position: relative;
    overflow: hidden;
	cursor: pointer;
	outline: none;
	border: none;
    margin: 0;
    padding: 0;
        span{
            transition: transform 1s;
            display: inline-block;
            padding: 10px 20px;
            font-size: 1.2em;
            margin:0;
        }
        .price{
            background: map-get($map: $colores, $key: priceC );
            border: 0;
            margin: 0;
            transform: translateX(-10%); 
            padding-right: 15px;
        }
        &:hover .price{
            transform: translateX(-110%);
            text-align: center;
        }
}
/* product image  */
.product-image {
	transition: all 0.3s ease-out;
	display:block;
	position: relative;
	overflow: hidden;
	height: 100%;
	float: right;
	width: map-get($map: $anchos, $key:w-50 );
        img{
            @include wh-100;
            display: flex;
            object-fit: cover;
            padding: 0px;
            transition: all 1s;
        }
        &:hover .info{
            transform: translateX(0);
        }
        &:hover img{
                transition: all 0.3s ease-out;
                transform: scale(2, 2);
        }
}
.info {
    @include wh-100;
    display: flex;
    justify-content: center;
    align-items: center;
    background: map-get($map: $colores, $key: cardOpacity );
    transition: all 0.3s ease-out;
    transform: translateX(-100%);
    position: absolute;
    line-height: 1.9;
    font-size: 120%;
    cursor: text;
    color: map-get($map: $colores, $key:textColor );
    left: 0;
    top: 0;
        ul{
            li{
                    transition: 0.3s ease;
            }
        }
}