.header-index{
    width: 100%;
    height:95vh;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.7)),url(../img/fondo-header.png);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction:column;
    align-content: center;
    justify-content: center;
    background-position: center;
}
.header{
    @extend .header-index;
    background-attachment:scroll;
    background-size: contain;
    height: 100%;
   } 
nav{
    display: flex;
    text-align: center;
    align-items:center;
    margin: auto;
    padding: 1.5% 5% 0% 5%;
        ul{
            li{
                list-style: none;
                display: flex;
                display: inline-block;
                padding: 0.5em;
                align-items: center;
                    a{
                        color: #fff;
                        text-decoration: none;
                        font-weight: bold;
                            &:hover{
                                color: #2a4;
                                transition: .5s;
                            }
                    }
            }
        }
}
                        //parche para header responsive
@media (max-width: 500px){
    ul{
        display: flex; 
        flex-direction: column;
    }
}