@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import '_vars.scss';
@import '_commons.scss';
@import '_header.scss';
@import '_home.scss';
@import '_alimentos.scss';
@import '_contacto.scss';
@import '_galeria.scss';
@import '_producto.scss';
@import "_footer.scss";
@import '_media.scss' ;
@import '_error404.scss';

