<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!--link a css bs-->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
      <!--link a mi css-->
    <link rel="stylesheet" href="../css/style.css">
    <title>Finca Don Juan</title>
    <link rel="shortcut icon" href="../img/1.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/e18cc0d570.js" crossorigin="anonymous"></script>
</head>
<body>
                                            <!--JS DE BOOSTRAP-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
                                          <!--start header-->
       <div class="header">
            <nav>
                <div class="logo">
                    <a href="../index.html">
                        <img src="../img/logoblanco.svg" alt="Don Juan Alimentos naturales">
                    </a>
                </div>
                <ul>
                    <li><a href="alimentos.html">Alimentos</a></li>
                    <li><a href="galeria.html">Galeria</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                </ul>
            </nav>
            </div>
            <div class="linea"></div>
                  <!--ends header--> 
    <h2>Alimentos naturales</h2> 
    <main class="alimentos"> 
                        <!--producto1-->
       
        <div class="alimento">
            <div class="imgAlimento">
                <img src="../img/pistachos-alimentos.jpg" alt="pistachos">
            </div>
            <div class="infoAlimento">
                <div class="tabla">
                    <table class="table table table-dark table-striped">
                        <tbody>
                        <tr>
                            <th>Nombre</th>
                            <th>Cantidad</th>
                        </tr><tr>
                            <td>Agua</td>
                            <td>4.37 g</td>
                        </tr>
                        <tr>
                            <td>Calorías</td>
                            <td>560 Kcal</td>
                        </tr>
                        <tr>
                            <td>Proteínas</td>
                            <td>20 g</td>
                        </tr>
                        <tr>
                            <td>Grasas Totales</td>
                            <td>45 g</td>
                        </tr>
                    </table>
                </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime magni iste aliquam ipsa, at deserunt vero quo repudiandae, rem quas eaque sed expedita vitae nisi. Vero repellat aliquam unde debitis sapiente error distinctio possimus deleniti numquam est porro quaerat doloribus non rerum eaque, accusamus excepturi. Magni quibusdam cum deserunt inventore perferendis laboriosam ipsam sapiente quas ea veniam! Illo modi temporibus nostrum, aut amet alias facilis fuga eligendi libero itaque necessitatibus!</p>
                    <a href="pistacho.html" class="btn">Comprar</a>
                </div>
            
        </div>
                                    <!--producto2-->
       
         <div class="alimento">
            <div class="imgAlimento">
                <img src="../img/aceite-tienda.jpg" alt="pistachos">
            </div>
            <div class="infoAlimento">
                <div class="tabla">
                    <table class="table table table-dark table-striped">
                        <tbody>
                        <tr>
                            <th>Nombre</th>
                            <th>Cantidad</th>
                        </tr><tr>
                            <td>Agua</td>
                            <td>4.37 g</td>
                        </tr>
                        <tr>
                            <td>Calorías</td>
                            <td>560 Kcal</td>
                        </tr>
                        <tr>
                            <td>Proteínas</td>
                            <td>20 g</td>
                        </tr>
                        <tr>
                            <td>Grasas Totales</td>
                            <td>45 g</td>
                        </tr>
                    </table>
                </div>
                    <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci ea inventore reprehenderit perferendis error quasi ipsam eum cupiditate tenetur esse natus at, delectus repellendus, impedit voluptates nulla eveniet, itaque asperiores magni aut nisi. Consequuntur sapiente praesentium repellendus eligendi hic rerum iusto, minima libero. Accusamus praesentium iste, perferendis ratione ipsa ea velit, iure rem illum labore in exercitationem illo molestias et, sint id numquam ex enim nostrum cupiditate impedit. Cupiditate, iure.</p>
                    <a href="oliva.html" class="btn">Comprar</a>
                </div>
        </div>
                                 <!--producto3-->
         <div class="alimento">
            <div class="imgAlimento">
                <img src="../img/miel-alimento.jpg" alt="pistachos">
            </div>
            <div class="infoAlimento">
                <div class="tabla">
                    <table class="table table table-dark table-striped">
                        <tbody>
                        <tr>
                            <th>Nombre</th>
                            <th>Cantidad</th>
                        </tr><tr>
                            <td>Agua</td>
                            <td>4.37 g</td>
                        </tr>
                        <tr>
                            <td>Calorías</td>
                            <td>560 Kcal</td>
                        </tr>
                        <tr>
                            <td>Proteínas</td>
                            <td>20 g</td>
                        </tr>
                        <tr>
                            <td>Grasas Totales</td>
                            <td>45 g</td>
                        </tr>
                    </table>
                </div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero nihil error in! Soluta iusto veniam facilis voluptatum facere? Harum beatae itaque ex impedit voluptates quod, similique ipsa quo exercitationem voluptatum minima deleniti maxime non et accusamus, illo iusto culpa recusandae necessitatibus. Recusandae saepe, nisi in tempora et temporibus blanditiis itaque fugiat vel corporis voluptate neque necessitatibus facere ex, nihil aut ea eos fuga id eius ut dolor quae aperiam? Ipsa!</p>
                    <a href="miel.html" class="btn">Comprar</a>
                </div>
        </div>
                                            <!--producto4-->
         <div class="alimento mb-3">
            <div class="imgAlimento">
                <img src="../img/pasas-alimentos.jpg" alt="pistachos">
            </div>
            <div class="infoAlimento">
                <div class="tabla">
                    <table class="table table table-dark table-striped">
                        <tbody>
                        <tr>
                            <th>Nombre</th>
                            <th>Cantidad</th>
                        </tr><tr>
                            <td>Agua</td>
                            <td>4.37 g</td>
                        </tr>
                        <tr>
                            <td>Calorías</td>
                            <td>560 Kcal</td>
                        </tr>
                        <tr>
                            <td>Proteínas</td>
                            <td>20 g</td>
                        </tr>
                        <tr>
                            <td>Grasas Totales</td>
                            <td>45 g</td>
                        </tr>
                    </table>
                </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur sint distinctio dolor ullam ab nulla voluptatibus accusamus ipsum modi non laborum suscipit odio expedita, reiciendis, id nam labore odit consequatur quisquam aliquid omnis? Nihil saepe facilis ducimus, ullam pariatur atque. Tempora, ut. Sequi earum dicta repudiandae sapiente sed harum, error quos ex perferendis corrupti explicabo molestias nisi aperiam ducimus excepturi cupiditate vitae. Ipsum itaque blanditiis minus aspernatur consequuntur? Quia, natus.</p>
                    <a href="pasas.html" class="btn">Comprar</a>
                </div>
        </div>
    </main>
                  <!--ends main-->
                  <!--Empieza footer-->
        <footer>
        <div>
            <a href="https://web.whatsapp.com/" target="_blank"><i class="fa-brands fa-whatsapp fa-2xl"></i></a>
            <a href="https://instagram.com/" target="_blank"><i class="fa-brands fa-instagram fa-2xl"></i></a>
            <a href="https://facebook.com/" target="_blank"><i class="fa-brands fa-facebook fa-2xl"></i></a>
        </div>
    </footer>
                  <!--ends footer-->
    </body>
</html>