<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <title>Finca Don Juan</title>
    <link rel="shortcut icon" href="../img/1.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/e18cc0d570.js" crossorigin="anonymous"></script>
</head>
<body>
    <!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>nav prueba</title>
        <script src="https://kit.fontawesome.com/e18cc0d570.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="style.css">
    
    </head>
    <body>
                  <!--start header-->
       <div class="header">
            <nav>
                <div class="logo mb-2">
                    <a href="../index.html">
                        <img src="../img/logoblanco.png" alt="Don Juan Alimentos naturales">
                    </a>
                </div>
                <ul class="ps-1 mb-0">
                    <li><a href="tienda.html">Tienda</a></li>
                    <li><a href="alimentos.html">Productos</a></li>
                    <li><a href="galeria.html">Galeria</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                    <li><a href="iniciar.html">Iniciar sesión</a></li>
                    <li><a href="registrarse.html">Registrarse</a></li>
                </ul>
            </nav>
                  <!--ends header-->
    <main>
        <section>
            <div>
                <div>
                    <small>Resumen de compras</small>
                </div>
                <div>
                    lorem
                    Lorem, ipsum.
                    Lorem, ipsum dolor.
                </div>
                <div>
                    total de compra:
                </div>
                <div>
                    <form action="">
                        <label for="comprar">Comprar</label>
                        <input type="submit" value="Siguiente" id="comprar">
                        <input type="reset" value="Cancelar compra">
                    </form>
                </div>
            </div>
        </section>
        <section>
            <h1>Los mejores métodos de pago</h1>
            <div>
                <div>
                    <i class="fa-brands fa-cc-amex"></i>
                    <i class="fa-brands fa-cc-visa"></i>
                    <i class="fa-brands fa-cc-paypal"></i>
                    <i class="fa-brands fa-cc-mastercard"></i>
                </div>
                <div>
                    <form>
                        <div>
                            <label for="numero-tarjeta">Número de tarjeta</label>
                            <input type="number" id="numero-tarjeta" required>
                        </div>
                        <div>
                            <label for="nombre">Nombre del titular</label>
                            <input type="text" id="nombre" required>
                        </div>
                        <div>
                            <label for="fecha">Valido hasta</label>
                            <input type="date" id="fecha" required>
                        </div>
                        <div>
                            <label for="codigo">Codigo de seguridad</label>
                            <input type="number" id="codigo" required>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <div class="linea"></div>
        <section>
            <p>Direccion</p>
            <div>
                <form>
                    <div>
                        <label for="calle">Calle</label>
                        <input type="text" id="calle" required>
                    </div>
                    <div>
                        <label for="depto">Departamento</label>
                        <input type="text" id="depto" required>
                    </div>
                    <div>
                        <label for="barrio">Barrio</label>
                        <input type="text" id="barrio" required>
                    </div>
                    <div>
                        <label for="casa">Casa</label>
                        <input type="number" id="casa" required>
                    </div>
                </form>
            </div>
        </section>
    </main>
    <footer>
        <div>
            <a href="https://web.whatsapp.com/" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
            <a href="https://instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
        </div>
    </footer>
    </body>
    </html>