<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Finca Don Juan</title>
    <link rel="shortcut icon" href="../img/1.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/e18cc0d570.js" crossorigin="anonymous"></script>
</head>
<body>
    <!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>nav prueba</title>
        <script src="https://kit.fontawesome.com/e18cc0d570.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="style.css">
    
    </head>
    <body>
                  <!--start header-->
       <div class="header">
            <nav>
                <div class="logo">
                    <a href="../index.html">
                        <img src="../img/logoblanco.png" alt="Don Juan Alimentos naturales">
                    </a>
                </div>
                <ul>
                    <li><a href="alimentos.html">Alimentos</a></li>
                    <li><a href="galeria.html">Galeria</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                </ul>
            </nav>
            </div>
                  <!--ends header-->
                  <div class="linea"></div>
                  <!--empieza main-->
    <main>
                  <!--empieza espacio para consultas-->
        <div>
            <label for="consulta">Envianos tu consulta</label>
            <textarea class="texto" name="consulta" id="consulta"></textarea>
            <input type="submit" value="Enviar">
            <img src="../img/clip.png" alt="adjuntar archivo">
            <div class="telefono">123456789</div>
        </div>
                  <!--ends espacio para consultas-->
                  <!--empieza mapa-->
        <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d108681.43729953826!2d-68.72955468359375!3d-31.653150299999993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x96813ecb894789ed%3A0x40f98d59d253604!2sINTA!5e0!3m2!1ses-419!2sar!4v1677186928511!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        </div>
                  <!--ends mapa-->
    </main>
    <footer>
        <div>
            <a href="https://web.whatsapp.com/" target="_blank"><i class="fa-brands fa-whatsapp fa-2xl"></i></a>
            <a href="https://instagram.com/" target="_blank"><i class="fa-brands fa-instagram fa-2xl"></i></a>
            <a href="https://facebook.com/" target="_blank"><i class="fa-brands fa-facebook fa-2xl"></i></a>
        </div>
    </footer>
    </body>
    </html>