<!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Finca Don Juan | MIEL</title>
          <!--icono-->
          <link rel="shortcut icon" href="../img/1.png" type="image/x-icon">
        <script src="https://kit.fontawesome.com/e18cc0d570.js" crossorigin="anonymous"></script>
         <!--link a css bs-->
         <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
         <!--link a mi css-->
        <link rel="stylesheet" href="../css/main.css">
    <meta name="description" content="Miel suave al paladar">
    </head>
    <body>
                                                    <!--JS DE BOOSTRAP-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
                  <!--start header-->
       <div class="header">
            <nav>
                <div class="logo">
                    <a href="../index.html">
                        <img src="../img/logoblanco.png" alt="Don Juan Alimentos naturales">
                    </a>
                </div>
                <ul>
                    <li><a href="alimentos.html">Alimentos</a></li>
                    <li><a href="galeria.html">Galeria</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                </ul>
            </nav>
            </div>
                  <!--ends header-->
                  <div class="linea"></div>
                  <!--Empieza producto--> 
     <h1>Miel</h1>
     <main class="producto">
        <div class="containerImg">
            <img src="../img/miel-tienda.jpg" class="rounded-start" alt="Miel">
        </div>
        <div class="containerData">
            <div class="containerInfo">
                <p>Un producto con propiedades y beneficios para la salud ya que es eficaz para tratar heridas de la piel; la tos y alergias; reduce el colesterol; previene problemas del corazón y el estreñimiento; </p>
            </div>
            <div class="comprar">
                <label for="kilos">Kilos/$5000</label>
                <input type="number" required name="Kilos" id="kilos" min="1" max="50">
                <button class="btn boton me-2 mb-1"> Comprar</button>
                <a href="alimentos.html" class="btn boton">Ir a informacion nutricional</a>
                
            </div>
        </div>
     </main>
    <footer>
        <div>
            <a href="https://web.whatsapp.com/" target="_blank"><i class="fa-brands fa-whatsapp fa-2xl"></i></a>
            <a href="https://instagram.com/" target="_blank"><i class="fa-brands fa-instagram fa-2xl"></i></a>
            <a href="https://facebook.com/" target="_blank"><i class="fa-brands fa-facebook fa-2xl"></i></a>
        </div>
    </footer>
    </body>
    </html>