<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Finca Don Juan</title>
    <link rel="shortcut icon" href="../img/1.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/e18cc0d570.js" crossorigin="anonymous"></script>
</head>
<body>
    <!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>nav prueba</title>
        <script src="https://kit.fontawesome.com/e18cc0d570.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="style.css">
    
    </head>
    <body>
                  <!--start header-->
       <div class="header">
            <nav>
                <div class="logo">
                    <a href="../index.html">
                        <img src="../img/logoblanco.png" alt="Don Juan Alimentos naturales">
                    </a>
                </div>
                <ul>
                    <li><a href="alimentos.html">Productos</a></li>
                    <li><a href="galeria.html">Galeria</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                    <li><a href="iniciar.html">Iniciar sesión</a></li>
                </ul>
            </nav>
                  <!--ends header-->
    </body>
</html>