<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Finca Don Juan</title>
    <link rel="shortcut icon" href="../img/1.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/e18cc0d570.js" crossorigin="anonymous"></script>
</head>
<body class="grid-contenedor">
                  <!--start header-->
       <div class="header">
            <nav>
                <div class="logo">
                    <a href="../index.html">
                        <img src="../img/logoblanco.svg" alt="Don Juan Alimentos naturales">
                    </a>
                </div>
                <ul>
                    <li><a href="tienda.html">Tienda</a></li>
                    <li><a href="alimentos.html">Productos</a></li>
                    <li><a href="galeria.html">Galeria</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                    <li class="none"><a href="iniciar.html">Iniciar sesión</a></li>
                    <li class="none"><a href="registrarse.html">Registrarse</a></li>
                </ul>
            </nav>
                  <!--ends header-->
    <div class="linea"></div>
                  <!--Empieza tienda-->
    <main>
                   <!--producto1-->
                   
        <figure class="pistacho">
            <a href="#">
                <img src="../img/pistachos-tienda.jpg"
                 alt="pistachos">
                </a>
            <figcaption>
                <a href="#">Pistachos</a>
            </figcaption>
        </figure>
   
                        <!--producto2-->
        <figure class="aceite">
            <a href="#">
                <img src="../img/oliva-tienda.jpg"
                 alt="aceite de oliva">
            </a>
            <figcaption><a href="#"> Aceite de oliva</a></figcaption>
        </figure>
        <figure class="miel">
            <a href="#">
                <img src="../img/miel-tienda.jpg"
                 alt="aceite de oliva">
            </a>
            <figcaption><a href="#">Miel</a></figcaption>
        </figure>
        <figure class="pasas">
            <a href="#">
                <img src="../img/pasas-tienda.jpg"
                 alt="aceite de oliva">
            </a>
            <figcaption><a href="#">Pasas</a></figcaption>
        </figure>
    </main>
    <aside class="aside-carro ">carro</aside>
                  <!--ends tienda-->
                  <!--Empieza footer-->
    <footer class="footer">
            <a href="https://web.whatsapp.com/" target="_blank">
                <i class="fa-brands fa-whatsapp"></i>
            </a>
            <a href="https://instagram.com/" target="_blank">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https://facebook.com/" target="_blank">
                <i class="fa-brands fa-facebook"></i>
            </a>
    </footer>
    <!--ends footer-->
    </body>
    </html>
